body{
    margin: 0;
}

h1{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
h2{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
h4{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.colorful-name{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #342ead;
}
p{
    font-family: 'Poppins', sans-serif;
    color: gray;
}

.header-area{
    height: 650px;
    padding-left: 15%;
    padding-right: 10%;
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.half-width-div{
    width: 50%;
    float: left;
    padding-top: 10%;
}
.half-width-div img{
    width: 90%;
}
.colored-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #5c57bd, #342ead);
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding: 10px 20px;   
}
.description-text{
    margin-bottom: 50px;
}


.biography-area{
    height: 600px;
    padding-left: 15%;
    padding-right: 10%;
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.latest-work-area{
    height: 500px;
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70%;
    padding-left: 7%;
    padding-right: 7%;
}
.center-headline{
    text-align: center;
    padding: 50px 0 50px 0;
}

.experience-part{
    
    width: 30%;
    padding-left: 3%;
    padding-bottom: 100px;
    float: left;
}
.experience-part img{
    width: 100%;
}

.description-area{
    height: 650px;
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 95%;
    text-align: center;
}

.about-description{
    padding: 2% 30%;
}

.mail-link{
    text-decoration: none;
}
.mail-area{
    padding: 20px 0;
    margin-left: 30%;
    margin-right: 30%;
    background-image: linear-gradient(45deg, #5c57bd, #342ead);
    border-radius: 15px;
}
.mail-area p{
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.mail-id{
    padding-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.new-added-area{
    height: 500px;
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.new-half-div{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
    padding-top: 50px;
}
.new-half-div p{
    margin-top: 10px;
    margin-bottom: 50px;
}

.new-half-div img{
    width: 100%;
}

.footer-text{
    text-align: center;
    font-size: 14px;
    color: #342ead;
}